:root{
	/*--------Fonts-------------*/
	--bungee: 'Bungee Shade', cursive;
	--vast: 'Vast Shadow', cursive;
	--faster: 'Faster One', cursive;
	--monoton: 'Monoton', cursive;
	--merriweather: 'Merriweather', serif;

	/*-------Colors------------*/
	--black: #000;
	--white: #fff;
	--orange: #ed5b36;

}

/*================
        MAIN
==================*/
body{
	font-size: 1.25em;
	text-align: center;
	color: #000;
	background-color: #fff;
	font-family: var(--merriweather);
	margin: 0;
	padding: 0;
}

.body{
	margin-top: 0;
	padding-top: 0;
}


a{  /*<--Remove lines under links and make buttons visible.*/
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
}

section{
	margin: 0px;
}

h3{
	font-family: var(--vast);
	font-size: 1.75em;
	padding: 10px;
	background-color: var(--orange);
	border-bottom: 3px solid #666;
}

/*================
        HEADER
==================*/
header{
	
	width: 100%;
	background-image: url(../media/images/banner.jpg);
	background-attachment: fixed;
	opacity: 0.9;
	background-size: 100%;
	padding: 10px;
	border-bottom: 5px solid var(--orange);
}


h1{	
	margin: 0;
	font-family: var(--monoton);
	font-size: 2.5em;
	color: #fff;
}

h2{

	font-family: var(--faster);
	font-size: 1.5em;
	color: var(--orange);
	letter-spacing: 5px;
}


/*================
        NAVIGATION
==================*/
.nav{
	
}
.nav li{
	display: inline-block;
	list-style: none;
}

.nav a{
	text-decoration: none;
	color: #fff;
	background-color: #333;
	padding: 5px 10px;
	font-family: var(--bungee);
	border: 2px solid #fff;
	border-bottom: 4px solid #fff;
	border-left: 4px solid #fff;
}

.nav a:hover{
	font-family: var(--vast);
	font-size: 1.2em;
	padding: 15px 10px;
	border-radius: 15px;
	color: var(--orange);
	border-color: var(--orange);
	background-color: var(--white);
}

.active{
 	border-color: blue;
}



/*================
        GALLERY
==================*/
#gallery{
	margin-top: 20px;
	background-color: #333;
	padding: 10px;
}

#gallery img{
	border: 5px solid var(--orange);
}



/*================
        SUMMARY
==================*/
#summary p {
	margin: 10px 25px;
}


/*================
        PROCESS
==================*/
#index-process ul{
	list-style: none;
	margin: 10px 20px;
	padding: 10px;
	
}

#index-process li{
	
}


#index-process .circle{
	background-color: #666;
	position: relative;
	top: 40px;
	border: 5px solid var(--orange);
	border-radius: 50%;
	width:150px;
	height: 150px;
	margin-bottom: -100px;
}

#index-process .circle img{
	border-radius: 50%;
}

#index-process .text{
	padding: 0;
	margin-left: 100px;

}

#index-process h4{
	margin: 0;
	background-color: var(--orange);
	padding: 10px;
	border-bottom-right-radius: 50px;
	
}

#index-process  .text p{
	background-color: #666;
	padding: 15px;
	padding-left: 60px;
	margin: 0;
	border-top-right-radius: 50px;

}
/*================
        NEWSLETTER
==================*/
#newsletter{
	background: url(../media/images/subscribe.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding: 60px;
	background-color: #666;
	color: var(--white);
}

#newsletter input{
	
	font-size: 1em;
}

#subButton,
#conButton,
#moreInfo{
	padding: 10px 15px;
	font-size: 1em;
	background-color: var(--orange);
	border-radius: 15px;
	font-family: var(--bungee);
}

#subButton{
	margin: 15px;

}

#subButton:hover,
#conButton:hover,
#moreInfo:hover{
	color:var(--orange);
	background-color: #333;
}


/*================
        FOOTER
==================*/
footer{
	background-color: #000;
	color: #fff;
	padding:15px;

}

footer a{
	color: #fff;
	border-color: #fff;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
					HOME PAGE
+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*================
        GALLERY
==================*/


/*================
        ABOUT US
==================*/




/*+++++++++++++++++++++++++++++++++++++++++++++++++++
					PROCESS
++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#process tr{
	padding: 0;
}

#process table{
	padding: 15px;
	border-spacing: 0 5px;

}
#process td {
	padding-top: -200px;
	height: 100%;
	border: 3px solid var(--orange);
	margin: 10px 0px;
	
	border-radius: 10px 25px;
}

#process .hidden{
	border: none;
	background-color: none;
}

#process td img{
	width: 80%;
	border-radius: 10px;
}

#process td h4{
	margin: 0;
	background-color: var(--orange);
	padding: 15px;
	margin-right: -3px;
	margin-left:  -3px;

}

#process td p{
	background-color: #333;
	padding: 10px;
	margin:10px;
	color: var(--white);
	border-radius: 10px;
}

#staff table{
	border-spacing: 0 5px;
	margin: 25px;
}

#staff tr{
	border: 2px solid #000;

}

#staff td{
	margin-right: 20px;
	padding-right: 20px;
}

#staff p{
	background-color: #333;
	color: var(--white);
	padding: 20px;
}

#staff h4{
	background-color: var(--orange);
	color: var(--white);
	padding: 15px;
	font-family: var(--monoton);
	font-size: 1.1em; 
	letter-spacing: 4px;
}

#staff img{
	width: 300px;
	border: 4px solid var(--orange);
	border-radius: 35px;
	background-color: var(--white);
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
					CONTACT
+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*================
        FORM
==================*/
#survey {
	margin-right: 15px;
	padding-bottom: 25px;
}


#survey h4{
	background-color: var(--orange);
	padding: 20px;
}


#memtype tr{
	margin: 20px;

}

#survey #adress input{
	margin: 10px;
}

 #memtype th{
	background-color: #333;
	border-radius: 35px;
	color: #fff;
	padding: 15px;
}

#memtype .price{
	background-color: var(--orange);
	border-bottom: 3px solid var(--orange);
	margin: 0;
}

.price{
	padding: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

input{
	font-size: 1.1em;
}

#visa{
	width: 50%;
	background-color: #666;
	padding: 20px;
	border: 3px solid var(--orange);
	border-radius: 25px;
}

#survey .button{
	padding: 20px;
	background-color: var(--orange);
	border: 3px solid #333;
	border-radius: 25px;
	font-family: var(--faster);
}

#survey .button:hover{
	border-color: var(--orange);
	background-color: #333;
	color: var(--orange);
}









































